<!DOCTYPE html>
<html>
<head>
	<title> Admin Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://kit.fontawesome.com/941c31cd46.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/css2.css">

</head>
<style type="text/css">

    .cell {
  display: table-cell;
}
td{
  align:center;
}
.table{
  margin:auto;
  width: 50% !important;
}
.backg{
    background: url(/images/slide2.jpg);
    background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
}
tr{
  background: white;
  color: black;
}

.pur{
        border: 6px solid #7e7271; 
        width: 200px;
        text-align: center;
        background: #fff;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%)
}
    .example::-webkit-scrollbar {
  display: none;
}

.white{
  color: white;
}
</style>

<body class="backg example">
    <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-dark bg-dark navbar-expand-sm ">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a style="color: white;" class="navbar-brand p-0" >
        <i class="fas fa-book-reader fa" ></i>
        BookHut
        </a>
      </div>
      <form method="POST" class="form-inline" style="margin:0;width:100vw;">
         <ul class="navbar-nav mt-2 mt-lg-0v" style="margin-right: 35vw;">
            <li class="nav-item" >
              <button  formaction="\home" class ="btn btn-dark white" >Home</button>
            </li>
          </ul>
      </form>
    </nav>
  </div>
  </header>


  <% if(obj){ %>

  
  <% for (var i = 0; i < obj.length; i++) { %>
 <% if(i==0){ %>
  <table class="table table-responsive" style="color:white;">
  <tr>
    <thead class="thead-dark">
    <th>no</th>
    <th>Name</th>
    <th>price</th>
    <th>quantity</th>
    <th>cost</th>
    <th>cart</th>
    <th>Action</th>
    </thead>
  </tr>
 <% } %>
  <tr>
    <td><%= i+1 %></td>
<form class="form-inline" method="POST" action="/act">
    <div class="form-group">
     <td> <input type="text" class="form-control" value="<%= obj[i].name%>" name="name" readonly></td>
    </div>
     <div class="form-group">
      <td><%= obj[i].price %></td>
    </div>
    <div class="form-group">
      <td><%= obj[i].quantity %></td>
    </div>
        <div class="form-group">
      <td><%= obj[i].total %></td>
    </div>
    <div class="form-group">
    <td><button type="submit" class="btn btn-default">Add</button>
    </td>
  </div>
  <div class="form-group">
    <td>
      <button type="submit" formaction="/remove" class="btn btn-default">remove</button></td>
  </div>
</form>
</tr> 
<% } } %>
</table>

<div class="pur">
<form  method="POST" action="/purchase">
<button type="submit" class="btn btn-default">total:<%= message1 %></button>
</form>
paying method is only cod
</div>
</body>
</html>