<!DOCTYPE html>
<html>
<head>
	<title> Admin Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://kit.fontawesome.com/941c31cd46.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/css2.css">

</head>
<style type="text/css">

    .cell {
  display: table-cell;
}
td{
  align:center;
}
.white{
			color:white;
		  }
.table{
  margin:auto;
  width: 50% !important;
}
.backg{
    background: url(/images/slide2.jpg);
    background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
}

tr{
  background: white;
  color: black;
}

</style>

<body class="backg">
   <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-dark bg-dark navbar-expand-sm ">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a style="color: white;" class="navbar-brand p-0" >
        <i class="fas fa-book-reader fa" ></i>
        BookHut
        </a>
      </div>
    </nav>
  </div>
</header>
  <br>
      <div class="d-flex justify-content-center">
        <div class="searchbar">
        <form method="POST" action="/search"><input class="search_input" type="text" name="name" placeholder="Search...">
          <button type="submit"><i class="fas fa-search"></i></button></form>
        </div>
      </div>


<table class="table table-responsive" style="color:white;">
  <thead class="thead-dark">
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Publish</th>
    <th>Genres</th>
    <th>Author</th>
    <th>Cost</th>
        <% if(message=='yes') {%>
    <th>Add to Cart</th>
    <% } %>
  </tr>
</thead>

  <% for (var i = 0; i < obj.length; i++) { %>
  <tr>
    <td><%= i+1 %></td>
<form class="form-inline" method="POST" action="/act">
    <div class="form-group">
     <td> <input type="text" class="form-control" value="<%= obj[i].name%>" name="name" readonly></td>
    </div>
    <div class="form-group">
      <td><input type="text" class="form-control"  value="<%= obj[i].publish %>" name="publish" readonly></td>
    </div>
     <div class="form-group">
      <td><input type="text" class="form-control" value="<%= obj[i].genres%>" name="genres" readonly></td>
    </div>
    <div class="form-group">
      <td><input type="text" class="form-control"  value="<%= obj[i].author %>" name="author" readonly></td>
    </div>
        <div class="form-group">
      <td><input type="text" class="form-control"  value="1000" name="price" readonly></td>
    </div>
    <% if(message=='yes') {%>
    <div class="form-group">
    <td><button type="submit" class="btn btn-default">Add</button></td>
  </div>
  <% } %>
  </form>
  </tr> 
<% }%>
</table> 

</body>
</html>